<p style="color: green"><%= notice %></p>
<h1><%= @journal.title %>
<h2>Entries</h2>

<div id="entries">
  <% @entries.each do |entry| %>
    <h3><%= entry.title %></h3>
    <%= entry.content %>
    <p>
      <%= link_to "View this entry", user_journal_entry_path(session[:user_id], entry.journal_id, entry) %>
    </p>
  <% end %>
</div>

<%= link_to "New entry", new_user_journal_entry_path(@journal.user_id, @journal.id) %>
