<div class="nav-container container-fluid">
<% if flash[:message].present? %>
  <div class="alert message">
    <%= flash[:message] %>
  </div>
<% end %>
<div>
  <h1 class="title"> Simple Day </h1>
</div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <li><%= link_to 'Home', root_path, class: 'link_1', style: 'pull-right' %>
    <% if session[:user_id] %>
      <h4 class="navbar-text"><%= @user.username %> </h4>
      <ul class="nav navbar-nav pull-right">
        <li><%= link_to 'Journals', user_journals_path(session[:user_id]), class: 'link_1', style: 'pull-right' %>
        <li><%= link_to 'New Journal', class: 'link_1', style: 'pull-right' %>
      </ul>
    <% else %>
      <h2> Welcome, Please Login </h2>
    <% end %>
  </nav>
</div>