<%= render partial: "shared/nav" %>

<div id="users">
  <% if session[:user_id] %>
    <%= button_to "Log Out", logout_path, method: :delete %>
  <% else %>
    <%= "New User?" %> <%=link_to "Sign Up", new_user_path %>
    <br>
    <%= link_to "Login", new_session_path %>
  <% end %>
</div>
