<p style="color: green"><%= notice %></p>

<%= render @journal %>

<div>
  <%= link_to "Edit this Journal", edit_user_journal_path([@user, @journal]) %> |
  <%= link_to "Back to Journals", user_journals_path(@user) %>

  <%= button_to "Delete this journal", user_journal_path([@user, @journal]), method: :delete %>
</div>
